.terms {
    display: flex;
    margin-top: 2rem;
}

.terms input {
    all: unset;
    background-color: transparent;
    border-color: var(--celestial-blue);
    width: 1.6rem;
    height: 1.6rem;
    border-style: solid;
    outline: none;
    margin-right: 1rem;   
}

.terms p {
    font-size: 1.4rem;
}

.terms input[type="checkbox"]:checked {
    background-color: var(--ghost-white);
    border-color: var(--celestial-blue);
}