header {
    background-image: url("/public/images/diviser.svg");
    background-repeat: no-repeat;
    background-size: 100% 1rem;
    background-position-y: bottom;

    display: flex;
    flex-direction: column;
    align-items: center;
}
header img {
    width: 9rem;
}

h1 {
    font-family: var(--title-font);
    color: var(--ghost-white);
    font-size: 7rem;
    font-weight: 500;
}
