* {
  margin: 0;
  padding: 0;
}

:root {
  --title-font: "Cabin Condensed", sans-serif;
  --body-font: "Encode Sans Semi Expanded", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/public/images/background.svg");
  background-size: 100%;
  
  background-repeat: no-repeat;
  object-fit: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
