* {
  margin: 0;
  padding: 0;
}

:root {
  --title-font: "Cabin Condensed", sans-serif;
  --body-font: "Encode Sans Semi Expanded", sans-serif;

  --ghost-white: #FFFAFF;
  --celestial-blue: #3E92CC;

  font-size: 62.5%;
}

body {
  margin: 0;

  background-image: url("/public/images/background.svg");
  background-size: 100%;
  
  background-repeat: no-repeat;
  object-fit: cover;
  color: var(--ghost-white);
  font-family: var(--body-font);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
